<!--<md-sidenav-container class="example-container">-->
  <!--<md-sidenav #sidenav class="example-sidenav">-->
    <!--Jolly good!-->
  <!--</md-sidenav>-->

  <!--<div class="example-sidenav-content">-->
    <!--<md-card>Simple card</md-card>-->
    <!--<button md-button (click)="sidenav.open()">-->
      <!--Open sidenav-->
    <!--</button>-->
  <!--</div>-->

<md-grid-list cols="3" >
  <md-grid-tile [colspan]="1" [rowspan]="1">
  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1"  style="height: 150px">
  <div class="example-sidenav-content">
  <md-card>
    <md-card-title>
      <i class="material-icons md-48">face</i>
    Profile
    </md-card-title>

    <!--<form [formGroup]="myForm" (ngSubmit)="onSignup()">-->
    <md-card-content >
<form>
      <md-input-container>
        <input md-input placeholder="First Name" value="">
      </md-input-container>
      <md-input-container>
        <input md-input placeholder="Last Name" value="">
      </md-input-container>
      <md-select placeholder="Select company" [(ngModel)]="selectedValue" name="food">
        <md-option *ngFor="let food of foods" [value]="food.value"  >
          {{ food.viewValue  }}
        </md-option>
      </md-select>
  <!--<p>  {{selectedValue}} </p>-->

  <md-input-container>
      <input md-input placeholder="Company Name" value="">
    </md-input-container>
      <button md-button style="align-items: center">Submit</button>
</form>
    </md-card-content>
    <!--</form>-->
  </md-card>
  </div>
<!--</md-sidenav-container>-->

  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1">
  </md-grid-tile>

</md-grid-list>
