<!--<md-sidenav-container class="example-container">-->
  <!--<md-sidenav #sidenav class="example-sidenav">-->
    <!--Jolly good!-->
  <!--</md-sidenav>-->

  <!--<div class="example-sidenav-content">-->
    <!--<md-card>Simple card</md-card>-->
    <!--<button md-button (click)="sidenav.open()">-->
      <!--Open sidenav-->
    <!--</button>-->
  <!--</div>-->

<md-grid-list cols="3" >
  <md-grid-tile [colspan]="1" [rowspan]="1">
  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1"  style="height: 150px">
  <div class="example-sidenav-content">
  <md-card>
    <md-card-title>
      <i class="material-icons md-48">face</i>
    Profile
    </md-card-title>

    <!--<form [formGroup]="myForm" (ngSubmit)="onSignup()">-->
    <md-card-content >
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myform.value)">
      <md-input-container>
        <input md-input placeholder="First Name" [formControl]="myForm.controls['FirstName']">
                  <md-hint *ngIf="myForm.controls['FirstName'].touched && myForm.controls['FirstName'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>

      </md-input-container>
      <md-input-container>
        <input md-input placeholder="Last Name" [formControl]="myForm.controls['LastName']">
                 <md-hint *ngIf="myForm.controls['LastName'].touched && myForm.controls['LastName'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>

      </md-input-container>
      <md-select placeholder="Account Type" name="accountType" class="example-full-width" [formControl]="myForm.controls['AccountType']">
            <md-option value="IT" selected>IT</md-option>
            <md-option value="Travel" selected>Travel</md-option>
           <md-option value="others" selected>others</md-option>

            <md-hint *ngIf="myForm.controls['AccountType'].touched && myForm.controls['AccountType'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-select>
  <!--<p>  {{selectedValue}} </p>-->

  <md-input-container>
      <input md-input placeholder="Company Name" [formControl]="myForm.controls['cName']">
                <md-hint *ngIf="myForm.controls['cName'].touched && myForm.controls['cName'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>

    </md-input-container>
      <button md-button style="align-items: center" *ngIf="onSubmit()">Submit</button>
</form>

    </md-card-content>
    <!--</form>-->
  </md-card>
  </div>
<!--</md-sidenav-container>-->

  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1">
  </md-grid-tile>

</md-grid-list>
